<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rectyle.govscheme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GovScheme">
        <activity
            android:name=".GetNotification"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".Farmers"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".Student"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />



            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="www.govscheme.com" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".Women"
            android:parentActivityName=".MainActivity"
            />
        <receiver android:name=".NotifyReceiver"

            />
        <activity
            android:name=".Startup"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            />

        <activity
            android:name=".Labour"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            />

    </application>

</manifest>